@font-face {
    font-family: BibHib;
    src: url(SBL_Hbrw.ttf);
    font-weight: normal;
    font-style: normal;
}



#head {
    padding: 20px;
    background: #EEE;
    text-align: center;
    margin-bottom: 20px;
}

.right {
    text-align: right;
}

.band {
    /* background: #0001; */
    width: 100%;
    text-align: left;
    margin-bottom: 16px;
}

textarea {
    width: 100%;
    height: 150px;
    /* padding: 12px; */
}

label {
    text-align: center;
}

.hebrew {
    font-family: BibHib;
    /* font-size: 1.8em; */
}

.bigger {
    font-size: 1.8em;
}

div.rtl { 
    direction: rtl;
    unicode-bidi: bidi-override;
}

.quiz-spoiler {
    border-radius: 10px !important;
    overflow: hidden;
}

.card-hint {
    position: absolute;
    color: gray;
    font-size: 1rem;
}

.card-cover {
    background-color: #ADF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 30px;
    width: inherit;
    opacity: 100%;
    transition: opacity 1s;
    z-index: 1;
}

.card-cover:hover {
    opacity: 0%;
}